<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>intersection</title>
    <!-- <link rel="stylesheet" href="css/style.min.css"> -->

     <!-- Google font -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<!-- ローディング画面 -->
<div id="loading">
    <p class="loadingText">LOADING...</p>
    <canvas>
        Canvas not supported.
    </canvas>
</div>

<body class="body">

    <div class="topImg">
        <h1 class="phaseNumber nightActive"></h1>
        <!-- <div class="street-bg"> -->
        <div class="signal signal-ns n">
            <span class="red red1">●</span>
            <span class="yellow">●</span>
            <span class="green">●</span>
            <span class="rightturn">➡</span>
        </div>

        <div class="signal signal-ns s">
            <span class="red">●</span>
            <span class="yellow">●</span>
            <span class="green">●</span>
            <span class="rightturn">➡</span>
        </div>

        <div class="signal signal-ew e">
            <span class="red">●</span>
            <span class="yellow">●</span>
            <span class="green">●</span>
        </div>

        <div class="signal signal-ew w">
            <span class="red">●</span>
            <span class="yellow">●</span>
            <span class="green">●</span>
        </div>
        <!-- </div> -->
    </div>



    <!-- --- LINE --- -->
    <section class="line">
        <h1 class="lineTitle">ひとり LINE</h1>

        <!-- <h1>ひとりLINE問題</h1> -->
        <!-- スマホのsizeを設定する為 -->
        <div class="smartphone">

            <div class="container">
                <label class="meLabel">Me:<input id="Me"></label>
                <label class="themLabel">Them:<input id="Them"></label>
            </div>

            <div id="chatarea">
                <div class="container2"> </div>
            </div>

        </div>
    </section>



<!-- ----------------------------------------- -->

 <section class="weather">
        <div class="weather__main">

            <h2 class="city weather__city">Weather in Osaka</h2>


            <div class="weather--large">
                <!--  default icon image -->
                <img src="https://openweathermap.org/img/wn/04n.png" alt="" class="icon weather--icon" />
                <h2 class="temp">°C</h2>
            </div>

            <button class="weather__button">Details</button>
            <ul class="weather__details">
                <li class="description">Cloudy</li>
                <li class="feels_like">°C</li>
                <li class="humidity">Humidity: 60%</li>
                <li class="wind">Wind speed: 6.2 km/h</li>
        </div>
        </div>

        <div class="card">
            <div class="card__search">
                <input type="text" class="card__searchBar" placeholder="City Name">

                <button class="search__button">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
                        height="30px" width="30px" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z">
                        </path>
                    </svg>
                </button>
            </div>

        </div>

    </section>















    <!-- --- footer --- -->
    <footer>
        <div class="footerContainer">

            <a class="footerContainer__link" href="https://github.com/" target='_blank'>
                <img src="<%= require('../images/icon_github.svg') %>" alt="" class="footerContainer__img">
            </a>

            <a class="footerContainer__link" href="https://www.youtube.com/channel/UC-1CLdw49SQsvt9E8del8nA"
                target='_blank'>
                <img src="<%= require('../images/icon_youtube.svg') %>" alt="" class="footerContainer__img">
            </a>

            <a class="footerContainer__link" href="https://www.facebook.com/" target='_blank'>
                <img src="<%= require('../images/icon_facebook.svg') %>" alt="" class="footerContainer__img">
            </a>

        </div>
        <!-- .footer_container -->

        <div class="footerContact">
            <h3 class="footerContact__email">Email: kojima.website@gmail.com</h3>
        </div>

    </footer>




















</body>

</html>