@import "_reset.scss";
@import "_setting.scss";
@import "_line.scss";
@import "_weatherApi.scss";
// <!-- <img src="<%= require('../images/top.jpg') %>" alt="" class="topImg"> -->

body {
  // width:100vw;
  font-family: "Noto Sans CJK JP", RoG2サンセリフStd;
  object-fit: cover; //高さを固定したまま可変
  background-image: linear-gradient(125deg, rgb(41, 41, 41), #f3f3f3);
  overflow: hidden scroll; // to prevent from scrolling
  // margin: 0 calc(50% - 50vw);
  // padding: 0 calc(50vw - 50%);
}

.topImg {
  position: relative;
  width: 99.5vw;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  height: 45vw;
  object-fit: cover; //高さを固定したまま可変

  // Mask effect
  background-image: linear-gradient(135deg, rgba(14, 177, 253, 0.2), rgba(255, 255, 255, 0.1)),
    url("../images/high.jpg");

  @include mq(s) {
    background-image: linear-gradient(135deg, rgba(14, 177, 253, 0.2), rgba(255, 255, 255, 0.1)),
      url("../images/top_sp.png");
    height: 75vw;
  }
  @include mq(m) {
    background-image: linear-gradient(135deg, rgba(14, 177, 253, 0.2), rgba(255, 255, 255, 0.1)),
      url("../images/top_sp.png");
    height: 70vw;
  }
}

.topImg::after {
  content: "Welcome to my Portfolio";
  text-transform: capitalize;
  color: white;
  width: 80vw;

  font-size: 4vw;
  text-align: center;
  line-height: 5vw;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-48%);
}

// ----------Traffic lights-----------
.phaseNumber {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  // transform: translateX(2%);
  @include mq(s) {
    font-size: 14px;
  }
}
.nightActive {
  color: rgb(255, 255, 255);
  font-size: 20px;
  @include mq(s) {
    font-size: 14px;
  }
}
.signal {
  width: 2vw;
  height: 6vw;
  box-shadow: 2px 2px 5px rgb(189, 189, 189);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // font-size: 0.5vw;
  font-size: 1.5vw;
  // line-height: 0.5vw;
  line-height: 1.8vw;

  color: black;
  text-shadow: 2px 2px 5px rgb(107, 107, 107);
  background-color: rgba(39, 39, 39, 0.9);
  // background-image:linear-gradient(140deg,
  //  rgba(27, 27, 27, 0.9),
  //   rgba(7, 7, 7, 0.4));
  border-radius: 16px;
  @include mq(s) {
    width: 3vw;
    height: 8vw;
    box-shadow: 2px 2px 5px rgb(189, 189, 189);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1.2vw;
    line-height: 1.9vw;

    color: black;
    text-shadow: 2px 2px 5px rgb(107, 107, 107);
    background-color: rgba(39, 39, 39, 0.9);
    border-radius: 16px;
  }
  @include mq(m) {
    width: 2vw;
    height: 7vw;
    box-shadow: 2px 2px 5px rgb(189, 189, 189);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1.5vw;
    line-height: 1.9vw;

    color: black;
    text-shadow: 2px 2px 5px rgb(107, 107, 107);
    background-color: rgba(39, 39, 39, 0.9);
    border-radius: 16px;
  }
}
// 北信号のみスタイル
.signal-ns.n {
  line-height: 1.5vw;
  font-size: 1.3vw;
  height: 6.5vw;
  width: 2vw;
  @include mq(s) {
    line-height: 1.8vw;
    font-size: 1.5vw;
    height: 10vw;
    width: 3vw;
  }
  @include mq(m) {
    line-height: 1.8vw;
    font-size: 1.5vw;
    height: 9vw;
    width: 3vw;
  }
}
.n {
  position: absolute;
  top: 26vw;
  left: 61.5%;
  @include mq(s) {
    position: absolute;
    top: 42vw;
    left: 56%;
  }
  @include mq(m) {
    position: absolute;
    top: 42vw;
    left: 56%;
  }
}
.s {
  position: absolute;
  top: 27vw;
  left: 40%;
  display: none;
}
.e {
  position: absolute;
  top: 28vw;
  left: 80.5%;
  @include mq(s) {
    position: absolute;
    top: 45vw;
    left: 89%;
  }
  @include mq(m) {
    position: absolute;
    top: 45vw;
    left: 89%;
  }
}
.w {
  top: 29vw;
  left: 36%;
  @include mq(s) {
    position: absolute;
    top: 46vw;
    left: 10.5%;
  }
  @include mq(m) {
    position: absolute;
    top: 46vw;
    left: 10.5%;
  }
}

.green {
  color: black;
}

.yellow {
  color: black;
}
.red {
  color: black;
}
.rightturn {
  color: black;
  font-weight: bold;
}

.street-bg {
  position: relative;
  width: 400px;
  height: 400px;
  background-size: cover;
  // background-image: url();
}

// footer-----------------------------------
footer {
  background-color: rgba(78, 70, 63, 0.19);
  color: white;
  padding-bottom: 60px;
  @include mq(s) {
    margin-top: 20px;
  }
  @include mq(m) {
  }
}
.footerContainer {
  max-width: 1040px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  @include mq(s) {
    padding-bottom: 6vw;
  }
  @include mq(m) {
    padding-bottom: 50px;
  }
  &__link {
    display: block;
    &:hover {
      opacity: 0.4;
      transition: all 0.3s ease-in-out;
    }
  }
  &__link:nth-child(2) {
    margin-right: 40px;
    margin-left: 40px;
  }
  &__img {
    width: 42px;
  }
}

.footerContact {
  max-width: 1040px;
  margin: auto;
  margin-top: 16px;
  &__email {
    color: rgb(70, 70, 70);
    text-align: center;
  }
}

// ---------------------------

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 3s;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

// 追加されてアニメーションが消える
.loaded {
  opacity: 0;
  visibility: hidden;
}

canvas {
  background: #fff;
  width: 100%;
  height: 100%;
}

.loadingText {
  font-size: 20px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: rgb(119, 119, 119);
}
